# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android/iOS
android/
ios/
*.hprof

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Build artifacts
*.apk
*.aab
*.ipa

# EAS
.eas/
